<header>
    <h1>Signup</h1>
</header>
<div class="form-group">
    <label for="fullname">Name:</label>
    <input class="form-control" type="text" id="fullname" required="required">
</div>

<div class="form-group">
    <label for="username">Username:</label>
    <input class="form-control" type="text" id="username">
</div>

<div class="form-group">
    <label for="email">Email:</label>
    <input class="form-control" type="email" id="email">
</div>

<div class="form-group">
    <label for="password">Password:</label>
    <input class="form-control" type="password" id="password" required="required">
</div>

<div class="form-group">
    <label for="confirmPassword">Confirm password:</label>
    <input class="form-control" type="password" id="confirmPassword" required="required">
</div>
<button class="btn btn-success" id="btn-signup">Sign up</button>