<div id="dashboard" class="container-fluid display-table">
    <div class="row display-table-row">
        <div class="col-md-3 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
            <div class="logo">
                <a href="#/">
                    Hello, {{username}}!
                </a>
            </div>
            <div class="navi">
                <ul>
                    {{#each lists}}
                    <li class="list-title row">
                        <a class="col-xs-9" href="#">
                            <i class="{{this.glyphicon}}" aria-hidden="true"></i>
                            <span data-atribute="{{this.key}}" class="hidden-xs hidden-sm">{{this.title}}</span>
                        </a>
                        <i class="glyphicon glyphicon-trash remove-list col-xs-2" aria-hidden="true"></i>
                    </li>
                    {{/each}}
                    <li id="add-list">
                        <input class="col-md-10" type="text" placeholder="Add list" id="input-add-list">
                        <button id="btn-add-list" class="btn btn-success btn-lg"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    </li>
                    <li id="edit-profile">
                        <a href="#">
                            <i class="glyphicon glyphicon-cog" aria-hidden="true"></i>
                            <span class="hidden-xs hidden-sm">Edit profile</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-sm-11 display-table-cell v-align" id="main-board">
            <h1 id="dashboard-welcome">Welcome to you Pocket Book! This is you dashboard where you'll see and manage all of your lists!</h1>
        </div>
    </div>
</div>