<div class="container-fluid display-table">
    <div class="row display-table-row">
        <div class="col-md-3 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
            <div class="logo">
                <a hef="#/">
                    Hello, {{username}}!
                </a>
            </div>
            <div class="navi">
                <ul>
                    {{#each lists}}
                        <li class="list-title"><a href="#"><i class="{{this.glyphicon}}" aria-hidden="true"></i><span data-atribute="{{this.key}}" class="hidden-xs hidden-sm">{{this.title}}</span></a></li>
                    {{/each}}
                    <li><a class="disabled" href="#"><i class="glyphicon glyphicon-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Edit profile</span></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-sm-11 display-table-cell v-align" id="main-board">
            <h1 id="dashboard-welcome">Welcome to our dashboard! Here you'll see and manage all of your lists!</h1>
        </div>
    </div>
</div>